.title0{
    font-style: normal;
    font-size: 20px;
    font-weight: bolder;
    color: #555555;
    padding: 0;
    margin-top: 4px;
    text-decoration: none;
    cursor: pointer;
}
.title1 {
    font-style: normal;
    font-size: 16px;
    font-weight: bolder;
    color: #555555;
    padding: 0;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
}

.title2 {
    font-weight: lighter;
    font-size: 12px;
    line-height: 1.5;
    color: #6B6868;
    padding: 0;
    margin: 0;
    line-height: 0.5;
    cursor: pointer;
}

.extensionContent {
    float: right;
    margin-top: 30px;

    &:hover {
        color: #034e5e;

        .title1, .title2{
            color: #034e5e;
        }
    }
}

.marquedNameAlignement {
    cursor: pointer;
    color:"#6B6868";
}

.pm0 {
    margin: 0;
    padding: 0;
}

.main{
    margin-right: 5px;
}

.menu {
    min-width: 250px;
    margin-top: 5em;
    position: absolute;
    float: right;
    right: 2em;
    z-index: 3000000;
    background-color: white;
    padding-bottom: 20px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    li {
    padding: 10px;
        &:hover {
            border-left: 2px solid rgb(250, 109, 255);
            background-color: rgb(236, 234, 236);
            color: #555555;
        }
    }
}

.titleItems {
    font-style: normal;
    font-size: 1em;
    font-weight: bold;
    color: #555555;
    text-decoration: none;
    margin-left: 5px;
    font-weight: lighter;
}